<!doctype html>
<html>
  <head>
    <title>REHeader</title>
    <meta name="title" content="GitHub Profile README Header Image Generator">
    <meta name="description" content="Generate beautiful header images for your GitHub profile READMEs.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reheader.glitch.me/">
    <meta property="og:title" content="REHeader">
    <meta property="og:description" content="Generate beautiful header images for your GitHub profile READMEs.">
    <meta property="og:image" content="https://cdn.glitch.com/0a4f672e-7d5c-4254-8f5a-847c2924bdf6%2FScreen%20Shot%202020-07-17%20at%205.19.18%20PM.png?v=1594991994508">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://reheader.glitch.me/">
    <meta property="twitter:title" content="REHeader">
    <meta property="twitter:description" content="Generate beautiful header images for your GitHub profile READMEs.">
    <meta property="twitter:image" content="https://cdn.glitch.com/0a4f672e-7d5c-4254-8f5a-847c2924bdf6%2FScreen%20Shot%202020-07-17%20at%205.19.18%20PM.png?v=1594991994508">

    <link rel="stylesheet" href="/style.css">
    <style>
    
      body {
        max-width: 580px;
        margin: auto;
        margin-bottom: 100px;
      }
    
    </style>
  </head>
  <body>
    
    <center>
      <h1>
        REHeader
      </h1>
      
      <p>
        Generate beautiful header images for your GitHub profile READMEs.
      </p>
      
      <p>
        GitHub now allows us to add READMEs to our profile describing ourselves but what if we need a header image in the README with your name and a small greeting? This generator comes to your rescue and saves the day (well, not a big thing and not very useful and it doesn't really save the day :shrug:)
      </p>
      
      <img src="https://cdn.glitch.com/0a4f672e-7d5c-4254-8f5a-847c2924bdf6%2Fheader-image-readme-gen.gif?v=1594991782151" width="100%">
      
      <p>
        Once you generate the image and upload it somewhere (like a CDN), you can use it in your README like this:
      </p>
      
      <img src="https://cdn.glitch.com/0a4f672e-7d5c-4254-8f5a-847c2924bdf6%2FScreen%20Shot%202020-07-17%20at%205.19.18%20PM.png?v=1594991994508" width="100%">
      
      <br><br>
      
      <p>
        Login with GitHub to get started.
      </p>
      
      <a href="/login/github">
        <button style="cursor: pointer;">
          Login with GitHub
        </button>
      </a>
      
      <br><br><br>
      
      Made with <span class="heart">❤</span> by Khaleel Gibran
      
    </center>
    
  </body>
</html>