@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Fira+Mono&family=IBM+Plex+Mono&family=Inter&family=PT+Serif&family=Playfair+Display&family=Red+Rose&family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  /* max-width: 580px; */
  /* margin: auto; */
  margin-bottom: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "Inter", "Helvetica", "Arial", sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#app {
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

#name {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "Inter", "Helvetica", "Arial", sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  width: 80%;
  margin: auto;
  max-width: 580px;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 0px;
  border: 1px solid black;
}

#introtext {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "Inter", "Helvetica", "Arial", sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  width: 80%;
  margin: auto;
  max-width: 580px;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 0px;
  border: 1px solid black;
}

.color {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "Inter", "Helvetica", "Arial", sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid black;
}

#canvas-wrap {
  overflow: auto;
  text-align: center;
}

#wrap {
  overflow: auto;
  text-align: center;
}

button {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 9px;
  background-color: var(--primary);
  font-size: 16px;
  transition: 150ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: black;
  color: white;
  transition: 150ms;
}

button:active {
  background-color: yellow;
  color: black;
  transition: 150ms;
}

#generated-prompt {
  display: none;
}

#steps-prompt {
  display: none;
  overflow: auto;
}

#steps {
  display: none;
  overflow: auto;
}

.heart{
  color:#e25555;
}

a {
  text-decoration: none;
}

.code {
  font-family: "IBM Plex Mono", monospace;
}

#add-to-github {
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 580px;
  margin: auto;
  padding: 10px 20px;
  display: none;
}